@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* *Create custome scroll bar */

html {
  scroll-behavior: smooth;
}

body {
  background-color: #20242d;
  font-family: 'Poppins', sans-serif;
}

.primary-color {
  background-image: linear-gradient(to right, #dd32fd, #ce90cb);
  -webkit-background-clip: text;
  color: transparent;
}

.bg-primary-color {
  background-image: linear-gradient(to right, #6b2b72, #a5079d);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #ce90cb;
}

::-webkit-scrollbar-thumb {
  background-color: #6b2b72;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #9d2eb1
}